<!DOCTYPE html>
<html>
  <head>
    <title>Rex AI</title>
    <link rel="icon" type="image/x-icon" href="<%= image_path('rently.png') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="chat" data-chat-token-value="<%= form_authenticity_token %>"  data-chat-image-value="<%= current_user.image || '' %>">
    <nav class="ui grid">
      <div class="left five wide column">
        <a id="fine-tune-item" class="active" data-action="click->chat#changeModel">Fine-tuned</a>
        <a id="embedded-item" data-action="click->chat#changeModel">Embedded</a>
        <a class="inputs" data-chat-target="extraInputs">
          <table>
            <tr>
              <td><label>Limit</label></td>
              <td>:&ensp;<input type='number' min="1" max="4" value='1' step="1" data-chat-target="limit"/></td>
            </tr>
            <tr>
              <td><label>Distance</label></td>
              <td>:&ensp;<input type='number' min="0.2" max="1" step="0.025" value="0.5" data-chat-target="distance"/></td>
            </tr>
          </table>
        </a>
      </div>
      <div class="center six wide column">
        <%= image_tag('logo.svg') %>
      </div>
      <div class="right column five wide column">
        <% if user_signed_in? %>
            <span><%= current_user.email %></span>
        <% end %>
        <a>
          <i class="sign out link icon" data-action="click->chat#print"></i>
        </a>
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
          <i class="power off link icon"></i>
        <% end %>
      </div>
    </nav>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
